



#video {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0, 5);
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: aqua;
}

#myVideo {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    object-fit: cover;
    height: 100vh;
    z-index: -1;

}

#about_heading {
    text-transform: capitalize;
    font-family: "Sofia", sans-serif;
    font-size: 50px;
    position: relative;
    bottom: 20px;
    left: 50px;
}

#content {

    background-image: linear-gradient(0deg, rgb(105, 243, 243), rgb(94, 71, 156));
}

#about_heading:hover {}

#logo {
    position: relative;
    right: 145px;
    bottom: 30px;
}

.aboutDetails {
    position: relative;left: 200px;
    width: 800px;
    height: 400px;
    display: flex;
    color: #000;
}

.box1 {
    position: relative;
    top: 280px;
    right: 400px;
    background-image: linear-gradient(to right, #e752ae, #1dc593);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

.box2 {
    position: relative;
    top: 300px;
    right: 400px;
    background-image: linear-gradient(to right, #3df1e8, #37c71a);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

.box3 {
    position: relative;


}